.home {
  display: flex;
  justify-content: center;
}

.maze-list {
  width: fit-content;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

#loadingIndicator {
  width: 6rem;
  height: 6rem;
}
