article {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: fit-content;
}

#view {
  display: flex;
  justify-content: center;
}

#loadingIndicator {
  width: 6rem;
  height: 6rem;
}
